# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
ATOM.dSYM
build

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

.xmake/
# TODO: remove when find a good way for hide personal info
.DS_Store

#dll
src/lib/*.dll
src/lib/*.lib
build
# remove .vscode folder except .vscode/settings.json
.vscode/*
!.vscode/settings.json

package
utils